@font-face {
  font-family: MyriadPro-Italic;
  font-style: normal;
  src: url("../fonts/MyriadPro-Italic.otf");
}
@font-face {
  font-family: MyriadPro-Regular;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: MyriadPro-Bold;
  font-style: normal;
  src: url("../fonts/MyriadPro-Bold.otf");
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.g-uppercase {
  text-transform: uppercase;
}
.g-text-center {
  text-align: center;
}
.page {
  margin: 0;
  padding: 0;
}
.header {
  height: 120px;
  width: 100%;
  background-color: #28363d;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 4;
}
.header__wrapper {
  max-width: 1418px;
  padding: 0 10px 0 10px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-container {
  -ms-flex-preferred-size: 229px;
      flex-basis: 229px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.header__logo-link {
  margin: auto;
  margin-left: 0;
}
.header__logo-link:hover {
  cursor: pointer;
}
.header__hamburger {
  display: none;
  width: 50px;
}
.header__hamburger-link {
  margin: auto;
}
.header__hamburger-logo {
  width: 40px;
  height: 40px;
}
.header__nav-container {
  -ms-flex-preferred-size: 940px;
      flex-basis: 940px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: MyriadPro-Regular;
}
.header__nav-container--vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  background: #28363d;
}
.header__link {
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.header__link--vertical {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}
.header__link-text {
  margin: auto;
  padding-top: 4px;
}
.header__link-border {
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link:hover {
  cursor: pointer;
}
.header__link--active {
  color: #6b848c;
  cursor: pointer;
  background: #1e292f;
}
.header__link-border--active {
  background: #ff8207;
}
.header__link:hover .header__link-border {
  background: #ff8207;
}
.header__action-container {
  -ms-flex-preferred-size: 229px;
      flex-basis: 229px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.header__action-phones {
  margin: auto;
  font-family: MyriadPro-Bold;
  font-size: 24px;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.header__phone {
  margin: 0;
  color: #ff8207;
  text-decoration: none;
  display: block;
}
.header__phone:first-child {
  margin-bottom: 14px;
}
.header__action-request {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.header__action-request-button {
  margin: auto;
  border: 2px solid #ff8207;
  font-family: MyriadPro-Bold;
  font-size: 16px;
  background: #28363d;
  color: #ff8207;
  border-radius: 10px;
  padding: 8px 24px;
}
.header__action-request-button:hover {
  cursor: pointer;
}
.header--scrolled {
  height: 80px;
}
.header__action--hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header__wrapper {
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-container {
    display: none;
  }
  .header__hamburger {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
  }
}
@media only screen and (max-width: 1420px) {
  .header__action-container {
    display: none;
  }
}
.slider {
  height: 100vh;
  max-height: 100vh;
  border-top: 4px solid #ff8207;
  border-bottom: 4px solid #ff8207;
  width: 100%;
}
.slider__SWIPER-CONTAINER {
  width: 100%;
  height: 100%;
}
.slider__slide-container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__background {
  width: 100%;
  height: 100%;
  background: url("../img/slide0.png") no-repeat;
  background-size: cover;
}
.slider__slide-wrapper {
  max-width: 940px;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider__slide-content {
  margin-top: 212px;
}
.slider__caption {
  font-family: MyriadPro-Bold;
  font-size: 44px;
  letter-spacing: 22px;
  margin: 0;
  color: #28363d;
  margin-bottom: 38px;
}
.slider__devider {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  max-width: 828px;
  margin: 0 auto;
}
.slider__devider-image {
  margin: auto;
}
.slider__devider:before,
.slider__devider:after {
  content: '';
  width: 400px;
  border-bottom: solid 2px #28363d;
  position: absolute;
  top: 50%;
}
.slider__devider:before {
  left: 0;
}
.slider__devider:after {
  right: 0;
}
.slider__text {
  font-family: MyriadPro-Regular;
  font-size: 24px;
  margin: 0;
  margin-top: 43px;
  letter-spacing: 1.5px;
  word-spacing: 1px;
  line-height: 35px;
  padding: 0 135px 0 100px;
}
.slider__button {
  font-family: MyriadPro-Bold;
  font-size: 34px;
  background: #ff8207;
  color: #fff;
  border: 0;
  margin: 0 auto;
  display: block;
  width: 400px;
  height: 80px;
  margin-top: 160px;
  border-radius: 10px;
  letter-spacing: 0.5px;
}
.slider__button:hover {
  cursor: pointer;
}
.slider__custom-button {
  background-size: auto !important;
  width: 46px !important;
  height: 80px !important;
  top: 52% !important;
}
.slider__custom-button--prev {
  background-image: url("../img/sprite-0.png") !important;
  background-position: 0px 0px !important;
  left: 342px !important;
}
.slider__custom-button--next {
  background-image: url("../img/sprite-0.png") !important;
  background-position: -46px 0px !important;
  right: 342px !important;
}
.slider__pagination {
  bottom: 198px !important;
}
.slider__down {
  position: absolute;
  width: 54px;
  height: 54px;
  background: rgba(108,116,121,0.6);
  bottom: 48px;
  z-index: 1;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.slider__down-icon {
  background-image: url("../img/sprite-0.png");
  background-position: 0px -80px;
  width: 18px;
  height: 11px;
  margin: auto;
}
.slider__down:hover {
  cursor: pointer;
}
.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background: #28363d !important;
  opacity: 1 !important;
  margin: 0 6px !important;
}
.swiper-pagination-bullet-active {
  background: #ff8207 !important;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider__slide-content {
    margin-top: -moz-calc(100vh / 5);
    margin-top: calc(100vh / 5);
  }
  .slider__custom-button--next {
    right: -moz-calc(100vw / 20) !important;
    right: calc(100vw / 20) !important;
  }
  .slider__custom-button--prev {
    left: -moz-calc(100vw / 20) !important;
    left: calc(100vw / 20) !important;
  }
  .slider__pagination {
    bottom: -moz-calc(100vh / 6) !important;
    bottom: calc(100vh / 6) !important;
  }
  .slider__text {
    padding: 0;
  }
  .slider__button {
    margin-top: 100px;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (orientation: landscape) {
  .slider__button {
    margin-top: 80px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .slider__button {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider {
    display: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 736px) {
  .slider {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .slider {
    display: none;
  }
}
.portfolio {
  min-height: 977px;
  height: 100%;
  width: 100%;
  background: url("../img/portfolio-background.png") no-repeat;
  background-size: cover;
  border-bottom: 2px solid #b5c4c4;
  padding-top: 48px;
  font-family: MyriadPro-Regular;
}
.portfolio__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.portfolio__caption {
  color: #28363d;
  font-size: 46px;
  letter-spacing: 10px;
  margin: 0;
  margin-bottom: 15px;
}
.portfolio__seporator {
  background-image: url("../img/sprite-1.png");
  background-position: 0px -46px;
  width: 31px;
  height: 6px;
  margin: 0 auto;
}
.portfolio__text {
  font-size: 18px;
  color: #8198a0;
  margin: 0;
  margin-top: 18px;
  padding: 0 300px 0 300px;
  line-height: 35px;
}
.portfolio__container {
  width: 100%;
  margin-top: 48px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.work {
  width: 460px;
  height: 320px;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  display: block;
}
.work__img-container {
  width: 100%;
  height: 100%;
  background: #28363d;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.work__img {
  background-image: url("../img/sprite-1.png");
  background-position: 0px 0px;
  width: 60px;
  height: 46px;
  margin: auto;
}
.work__description {
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(212,215,216,0.8);
  overflow: hidden;
  bottom: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.work__caption {
  font-family: MyriadPro-Bold;
  font-size: 18px;
  margin: 0;
  margin-left: 59px;
  margin-top: 16px;
  letter-spacing: 1.1px;
  margin-bottom: 10px;
  color: #28363d;
}
.work__seporator {
  background-image: url("../img/sprite-1.png");
  background-position: 0px -46px;
  width: 31px;
  height: 6px;
  margin-left: 60px;
  margin-bottom: 12px;
}
.work__text {
  margin: 0;
  margin-left: 59px;
  letter-spacing: 0.8px;
  font-size: 16px;
  color: #7b7b7b;
}
.work:hover {
  cursor: pointer;
}
.work:hover .work__description {
  opacity: 1;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .portfolio {
    margin-top: 115px;
  }
  .portfolio__text {
    padding: 0 150px 0 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    margin-top: 115px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin-top: 115px;
  }
  .portfolio__text {
    padding: 0 100px 0 100px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 736px) {
  .portfolio {
    margin-top: 115px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .portfolio {
    margin-top: 115px;
  }
  .portfolio__text {
    padding: 0 50px 0 50px;
  }
}
.advantages {
  width: 100%;
  padding-top: 44px;
  font-family: MyriadPro-Regular;
}
.advantages__wrapper {
  margin: 0 auto;
  max-width: 1398px;
  width: 100%;
}
.advantages__caption {
  color: #28363d;
  font-size: 46px;
  letter-spacing: 10px;
  margin: 0;
  margin-bottom: 14px;
}
.advantages__seporator {
  background-image: url("../img/sprite-1.png");
  background-position: 0px -46px;
  width: 31px;
  height: 6px;
  margin: 0 auto;
}
.advantages__text {
  font-size: 18px;
  color: #8198a0;
  margin: 0;
  margin-top: 17px;
  padding: 0 300px 0 300px;
  line-height: 35px;
}
.advantages__container {
  width: 100%;
  margin-top: 38px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.advantage {
  width: -moz-calc(1368px / 4);
  width: calc(1368px / 4);
  height: 200px;
  margin-bottom: 35px;
  overflow: hidden;
}
.advantage__icon {
  background-image: url("../img/sprite-2.png");
  margin: 0 auto;
  margin-top: 11px;
}
.advantage__icon--p1 {
  background-position: 0px 0px;
  width: 50px;
  height: 40px;
}
.advantage__icon--p2 {
  background-position: -90px -41px;
  width: 40px;
  height: 40px;
}
.advantage__icon--p3 {
  background-position: -50px -41px;
  width: 40px;
  height: 40px;
}
.advantage__icon--p4 {
  background-position: -40px -81px;
  width: 33px;
  height: 40px;
}
.advantage__icon--p5 {
  background-position: -90px 0px;
  width: 40px;
  height: 41px;
}
.advantage__icon--p6 {
  background-position: 0px -40px;
  width: 40px;
  height: 41px;
}
.advantage__icon--p7 {
  background-position: 0px -81px;
  width: 40px;
  height: 41px;
}
.advantage__icon--p8 {
  background-position: -50px 0px;
  width: 40px;
  height: 41px;
}
.advantage__caption {
  font-family: MyriadPro-Bold;
  font-size: 16px;
  color: #28363d;
  margin: 0;
  margin-top: 26px;
  letter-spacing: 1px;
}
.advantage__description {
  font-size: 16px;
  color: #8198a0;
  margin: 0;
  margin-top: 6px;
  padding: 0 50px 0 50px;
  line-height: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .advantages__text {
    padding: 0 150px 0 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .advantages__text {
    padding: 0 100px 0 100px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .advantages__text {
    padding: 0 50px 0 50px;
  }
}
.contacts {
  font-family: MyriadPro-Regular;
  width: 100%;
  padding-top: 77px;
  margin-bottom: 99px;
}
.contacts__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
.contacts__caption {
  color: #28363d;
  font-size: 46px;
  letter-spacing: 10px;
  margin: 0;
  margin-bottom: 14px;
}
.contacts__seporator {
  background-image: url("../img/sprite-1.png");
  background-position: 0px -46px;
  width: 31px;
  height: 6px;
  margin: 0 auto;
}
.contacts__text {
  font-size: 18px;
  color: #8198a0;
  margin: 0;
  margin-top: 17px;
  padding: 0 60px 0 60px;
  line-height: 35px;
}
.contacts__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-top: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contacts__info {
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
  height: 250px;
}
.contacts__feedback {
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
}
.info {
  overflow: hidden;
}
.info__caption {
  font-family: MyriadPro-Bold;
  color: #ff8207;
  margin: 0;
  font-size: 24px;
  margin-top: 8px;
  overflow: hidden;
}
.info__text {
  font-size: 18px;
  color: #999;
  margin: 10px 0 20px 0;
}
.info__text--spacing {
  letter-spacing: 1px;
}
.feedback__form {
  margin-left: 18px;
}
.feedback__label {
  color: #28363d;
  font-family: MyriadPro-Bold;
  font-size: 24px;
  display: block;
  margin: 9px 0 20px 0;
}
.feedback__label--review {
  margin: 25px 0 6px 0;
}
.feedback__label--file {
  height: 60px;
  width: 50px;
  background: #ff8207;
  color: #fff;
  line-height: 60px;
  border-radius: 10px;
  margin: 0;
  display: inline-block;
}
.feedback__label--file:hover {
  cursor: pointer;
}
.feedback__label--captcha {
  margin: 25px 0 10px 0;
}
.feedback__input,
.feedback__textarea {
  width: 100%;
  border: 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  font-family: MyriadPro-Italic;
  color: #c0c0c0;
}
.feedback__input--captcha,
.feedback__textarea--captcha {
  width: 55%;
}
.feedback__textarea {
  line-height: 20px;
  background-image: -webkit-linear-gradient(transparent, transparent 19px, #e5e5e5 0px);
  background-image: -moz- oldlinear-gradient(transparent, transparent 19px, #e5e5e5 0px);
  background-image: -o-linear-gradient(transparent, transparent 19px, #e5e5e5 0px);
  background-image: linear-gradient(transparent, transparent 19px, #e5e5e5 0px);
  background-size: 100% 20px;
  resize: none;
  height: 105px;
  margin-top: 8px;
  border-bottom: none;
}
.feedback__file {
  display: none;
}
.feedback__file-label {
  color: #28363d;
  font-family: MyriadPro-Bold;
  font-size: 24px;
  display: inline;
  margin-left: 12px;
}
.feedback__submit-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feedback__submit {
  width: 220px;
  height: 60px;
  background: #ff8207;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: MyriadPro-Regular;
  font-size: 18px;
  letter-spacing: 2px;
}
.feedback__submit:hover {
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacts .info {
    text-align: center;
  }
}
@media only screen and (min-width: 375px) and (max-width: 736px) {
  .contacts .info {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .contacts__text {
    padding: 0 50px 0 50px;
  }
  .contacts .info {
    text-align: center;
  }
  .contacts .feedback__form {
    margin: 0 10px 0 10px;
  }
  .contacts .feedback__submit-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts .feedback__captcha,
  .contacts .feedback__submit {
    margin: 5px;
  }
}
.footer {
  width: 100%;
  font-family: MyriadPro-Regular;
}
.footer__up_container {
  position: absolute;
  right: 9px;
  top: -66px;
  border: 3px solid #ff8207;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
.footer__up-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}
.footer__up-button:hover {
  cursor: pointer;
}
.footer__up-image {
  background-image: url("../img/sprite-3.png");
  background-position: 0px 0px;
  width: 28px;
  height: 40px;
  margin: auto;
}
.footer__first {
  width: 100%;
  background: #28363d;
  position: relative;
}
.footer__first:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/footerbg.png") 100% 100% no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
}
.footer__seporator {
  background-image: url("../img/sprite-1.png");
  background-position: 0px -46px;
  width: 31px;
  height: 6px;
  margin: 0 auto;
  margin-top: 45px;
}
.footer__seporator--right {
  margin-right: 0;
}
.footer__seporator--left {
  margin-left: 0;
  margin-top: 16px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 10px;
  width: 100%;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.footer__item {
  width: 229px;
  height: 250px;
  z-index: 2;
  overflow: hidden;
}
.footer__item-caption {
  font-family: MyriadPro-Bold;
  color: #fff;
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
  margin-top: 58px;
}
.footer__item-caption--mid {
  text-align: center;
}
.footer__item-caption--right {
  text-align: right;
}
.footer__item-text {
  color: #fff;
  font-size: 14px;
  margin: 0;
  margin-top: 17px;
  letter-spacing: 1px;
}
.footer__item-text--l {
  text-align: left;
}
.footer__item-text--r {
  text-align: right;
  margin-left: 26px;
}
.footer__logo-link {
  display: block;
  margin-top: 60px;
  margin-left: 2px;
}
.footer__logo:hover {
  cursor: pointer;
}
.footer__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  width: 140px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
.footer__link--inst {
  background-image: url("../img/sprite-3.png");
  background-position: -28px 0px;
  width: 26px;
  height: 26px;
}
.footer__link--twitt {
  background-image: url("../img/sprite-3.png");
  background-position: -54px 0px;
  width: 26px;
  height: 22px;
}
.footer__link--faceb {
  background-image: url("../img/sprite-3.png");
  background-position: 0px -40px;
  width: 12px;
  height: 26px;
}
.footer__second {
  height: 62px;
  border-bottom: 2px solid #ff8207;
  background: #1e292f;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}
.footer__copyrights {
  margin: auto;
  font-size: 14px;
  color: #fff;
  letter-spacing: 3px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__first:before {
    background-size: cover;
  }
}
.g-nav {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 100px;
  right: 11px;
  z-index: 4;
}
.g-nav__el {
  width: 18px;
  height: 18px;
  background: #a5acae;
  display: block;
  border-radius: 50%;
  margin: 0 0 10px 0;
}
.g-nav__el--active {
  background: #ff8207;
}
.g-nav__el--active {
  background: #ff8207;
}
.g-nav--disable {
  display: none !important;
}
.request-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  font-family: MyriadPro-Regular;
}
.request-modal__content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #ff8207;
  width: 80%;
  position: relative;
}
.request-modal__close {
  color: #6b848c;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}
.request-modal__close:hover,
.request-modal__close:focus {
  color: #1e292f;
  text-decoration: none;
  cursor: pointer;
}
.request-modal__button {
  font-family: MyriadPro-Bold;
  font-size: 16px;
  background: #ff8207;
  color: #fff;
  border: 0;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  letter-spacing: 0.5px;
}

/**
 * Swiper 4.0.3
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2017
 */
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:-moz-box;-js-display:flex;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;-moz-transition-property:transform, -moz-transform;transition-property:transform;transition-property:transform, -webkit-transform, -moz-transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;-moz-transition-property:transform, -moz-transform;transition-property:transform;transition-property:transform, -webkit-transform, -moz-transform;transition-property:transform,-webkit-transform}.swiper-invisible-blank-slide{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-moz-box-align:start;align-items:flex-start;-webkit-transition-property:height,-webkit-transform;transition-property:height,-webkit-transform;-o-transition-property:transform,height;-moz-transition-property:transform,height,-moz-transform;transition-property:transform,height;transition-property:transform,height,-webkit-transform,-moz-transform;transition-property:transform,height,-webkit-transform}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,right top, left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-moz- oldlinear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left top, right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-moz- oldlinear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-moz- oldlinear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-moz- oldlinear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s opacity;-o-transition:.3s opacity;-moz-transition:.3s opacity;transition:.3s opacity;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transform:scale(.33);-ms-transform:scale(.33);-moz-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{-webkit-transform:scale(1);-ms-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-webkit-transform:scale(.66);-ms-transform:scale(.66);-moz-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-webkit-transform:scale(.33);-ms-transform:scale(.33);-moz-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-webkit-transform:scale(.66);-ms-transform:scale(.66);-moz-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-webkit-transform:scale(.33);-ms-transform:scale(.33);-moz-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;-webkit-transition:.2s top,.2s -webkit-transform;-o-transition:.2s top,.2s -webkit-transform;-moz-transition:.2s top,.2s -webkit-transform;transition:.2s top,.2s -webkit-transform;-o-transition:.2s transform,.2s top;-webkit-transition:.2s transform,.2s top;-moz-transition:.2s transform,.2s top;transition:.2s transform,.2s top;-webkit-transition:.2s transform,.2s top,.2s -webkit-transform;-o-transition:.2s transform,.2s top,.2s -webkit-transform;-moz-transition:.2s transform,.2s top,.2s -webkit-transform;transition:.2s transform,.2s top,.2s -webkit-transform}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s left,.2s -webkit-transform;-o-transition:.2s left,.2s -webkit-transform;-moz-transition:.2s left,.2s -webkit-transform;transition:.2s left,.2s -webkit-transform;-o-transition:.2s transform,.2s left;-webkit-transition:.2s transform,.2s left;-moz-transition:.2s transform,.2s left;transition:.2s transform,.2s left;-webkit-transition:.2s transform,.2s left,.2s -webkit-transform;-o-transition:.2s transform,.2s left,.2s -webkit-transform;-moz-transition:.2s transform,.2s left,.2s -webkit-transform;transition:.2s transform,.2s left,.2s -webkit-transform}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s right,.2s -webkit-transform;-o-transition:.2s right,.2s -webkit-transform;-moz-transition:.2s right,.2s -webkit-transform;transition:.2s right,.2s -webkit-transform;-o-transition:.2s transform,.2s right;-webkit-transition:.2s transform,.2s right;-moz-transition:.2s transform,.2s right;transition:.2s transform,.2s right;-webkit-transition:.2s transform,.2s right,.2s -webkit-transform;-o-transition:.2s transform,.2s right,.2s -webkit-transform;-moz-transition:.2s transform,.2s right,.2s -webkit-transform;transition:.2s transform,.2s right,.2s -webkit-transform}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-ms-transform-origin:left top;-moz-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-webkit-transform-origin:right top;-ms-transform-origin:right top;-moz-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:rgba(255,255,255,.25)}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:-moz-box;-js-display:flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-moz-box-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;-o-object-fit:contain;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-ms-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:'';width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-o-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;-moz-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-ms-transform-origin:100% 0;-moz-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}