footer.footer
    div.footer__first
        div.footer__wrapper
            div.footer__up_container.js-anchor
                a.footer__up-button(href="#main")
                    div.footer__up-image.js-anchor
            div.footer__item
                a.footer__logo-link(href="#")
                    img.footer__logo(src="./img/logo.png", alt="Error")
                div.footer__seporator.footer__seporator--left
                p.footer__item-text.footer__item-text--l Дисклеймер компании
            div.footer__item
                p.footer__item-caption.footer__item-caption--mid.g-uppercase мы в соцсетях
                div.footer__seporator.footer__seporator--mid
                div.footer__links
                    a.footer__link.footer__link--inst(href="https://www.instagram.com" target="_black")
                    a.footer__link.footer__link--twitt(href="https://twitter.com" target="_black")
                    a.footer__link.footer__link--faceb(href="https://www.facebook.com" target="_black")
            div.footer__item
                p.footer__item-caption.footer__item-caption--right.g-uppercase аДРЕС
                div.footer__seporator.footer__seporator--right
                p.footer__item-text.footer__item-text--r г. Минск, ул. Скрыганова, 6А, 4 этаж
    div.footer__second
        h4.footer__copyrights.g-uppercase Copyrights 2015 © Webcom Media 
