//-request-modal
div.request-modal.js-modal
  div.request-modal__content
    span.request-modal__close.js-modal-close &times;
    div.request-modal__header
        h3 Modal Header
    div.request-modal__body
        p Modal Body
    div.request-modal__footer
        button.request-modal__button.g-uppercase.js-modal-submit(type="button") оформить заявку
