@import "./fonts.styl"

* {
  box-sizing: border-box;
}

.g-uppercase{
  text-transform: uppercase;
}

.g-text-center{
  text-align: center;
}

.page {
  margin: 0;
  padding: 0;
}

@import "./templates/header/header.styl"
@import "./templates/slider/slider.styl"
@import "./templates/portfolio/portfolio.styl"
@import "./templates/advantages/advantages.styl"
@import "./templates/contacts/contacts.styl"
@import "./templates/footer/footer.styl"
@import "./templates/nav/nav.styl"
@import "./templates/modal/modal.styl"