$caption=#28363d;
$text=#8198a0;
.portfolio {
    min-height 977px;
    height: 100%;
    width 100%;
    background: url(../img/portfolio-background.png) no-repeat;
    background-size: cover;
    border-bottom 2px solid #b5c4c4;
    padding-top: 48px;
    font-family MyriadPro-Regular;
    &__wrapper {
        max-width: 1440px;
        width 100%;
        margin: 0 auto;
    }
    &__caption {
        color $caption;
        font-size 46px;
        letter-spacing 10px;
        margin 0;
        margin-bottom 15px;
    }
    &__seporator {
        background-image url(../img/sprite-1.png);
        background-position 0px -46px;
        width 31px;
        height 6px;
        margin 0 auto;
    }
    &__text {
        font-size 18px;
        color: $text;
        margin: 0;
        margin-top: 18px;
        padding: 0 300px 0 300px;
        line-height: 35px;
    }
    &__container {
        width: 100%;
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.work {
    width: 460px;
    height: 320px;
    margin-bottom: 14px;
    position: relative;
    overflow: hidden;
    display: block;
     &__img-container {
        width: 100%;
        height: 100%;
        background: $caption;
        display: flex;
    }
    &__img {
        background-image: url(../img/sprite-1.png);
        background-position: 0px 0px;
        width: 60px;
        height: 46px;
        margin: auto;
    }
    &__description {
        position: absolute;
        width: 100%;
        height: 100px;
        background: rgba(212, 215, 216, 0.8);
        overflow hidden;
        bottom: 0;
        transition: all 0.3s;
        opacity: 0;
    }
    &__caption {
        font-family MyriadPro-Bold;
        font-size: 18px;
        margin: 0;
        margin-left: 59px;
        margin-top: 16px;
        letter-spacing: 1.1px;
        margin-bottom: 10px;
        color: $caption;
    }
    &__seporator {
        background-image url(../img/sprite-1.png);
        background-position 0px -46px;
        width 31px;
        height 6px;
        margin-left: 60px;
        margin-bottom: 12px;
    }
    &__text {
        margin: 0;
        margin-left: 59px;
        letter-spacing: 0.8px;
        font-size: 16px;
        color: #7b7b7b;
    }
}

.work:hover {
    cursor: pointer;
    .work__description {
        opacity: 1;
    }
}


/* Tablet - Mobile */

$tabletMobile-min=320px;
$tabletMobile-max=1024px;
/* Tablet */

$tablet-min=768px;
$tablet-max=1024px;
/* Mobile */

$mobile-min=320px;
$mobile-max=767px;
/* Mobile iPhone 6 and 6 plus */

$iphone6-min=375px;
$iphone6-max=736px;
/* Iphone 5 */

$iphone5-min=320px;
$iphone5-max=568px;
/* Tablet - Mobile */

@media only screen and (min-width: $tabletMobile-min) and (max-width: $tabletMobile-max) {
    .portfolio {
        margin-top: 115px;
        &__text {
            padding: 0 150px 0 150px;
        }
    }
}


/* Tablet */

@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    .portfolio {
        margin-top: 115px;
    }
}


/* Mobile */

@media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    .portfolio {
        margin-top: 115px;
        &__text {
            padding: 0 100px 0 100px;
        }
    }
}


/* Mobile iPhone 6 and 6 plus */

@media only screen and (min-width: $iphone6-min) and (max-width: $iphone6-max) {
    .portfolio {
        margin-top: 115px;
    }
}


/* Mobile iPhone 5 */

@media only screen and (min-width: $iphone5-min) and (max-width: $iphone5-max) {
    .portfolio {
        margin-top: 115px;
        &__text {
            padding: 0 50px 0 50px;
        }
    }
}